.education__container {
  grid-template-columns: 1fr;
}

.education__item {
  background: var(--color-bg-variant);
  padding: 2rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
  display: grid;
  grid-template-columns: 1.5fr 1fr;
  align-items: center;
  margin: 1.5rem auto;
}

.education__item-right {
  text-align: right;
}

.education__item:hover {
  border-color: var(--color-primary-variant);
  background: transparent;
}

/* Media Queries (extra-large devices) */

@media screen and (min-width: 1824px) {
  .education__item {
    width: 60%;
  }
}

/* Media Queries (large devices) */

@media screen and (max-width: 1824px) {
}

/* Media Queries (medium devices) */

@media screen and (max-width: 1024px) {
  
  .education__item {
    border-radius: 1.5rem;
  }

  .education__item h4 {
    font-size: 100%;
  }

  .education__item h5 {
    font-size: 80%;
    padding-top: 0.5rem;
  }
}

/* Media Queries (small devices) */

@media screen and (max-width: 600px) {
  .education__item {
    grid-template-columns: 1fr;
  }
  .education__item-right {
    text-align: left;
  }
}
