.skills__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.skills__group {
  background: var(--color-bg-variant);
  padding: 2.4rem 5rem;
  border-radius: 2rem;
  border: 1px solid transparent;
  transition: var(--transition);
}

.skills__group:hover {
  background: transparent;
  border-color: var(--color-primary-variant);
  cursor: default;
}

.skills__group > h3 {
  text-align: center;
  margin-bottom: 2rem;
  color: var(--color-primary);
}

.skills__content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 2rem;
}

.skills__details {
  display: flex;
  /* justify-content: center; */
  gap: 1rem;
}

.skills__details-icon {
  margin-top: 6px;
  color: var(--color-primary);
}

/* Media Queries (extra-large devices) */

@media screen and (min-width: 1824px) {
}

/* Media Queries (large devices) */

@media screen and (max-width: 1824px) {
  .skills__container {
    grid-template-columns: 1fr;
  }

  .skills__content {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* Media Queries (medium devices) */

@media screen and (max-width: 1024px) {
  .skills__content {
    grid-template-columns: repeat(2, 1fr);
  }

  .skills__group {
    width: 90%;
    padding: 2rem;
    margin: 0 auto;
  }

  .skills__content {
    padding: 1rem;
  }
}

/* Media Queries (small devices) */

@media screen and (max-width: 600px) {
  .skills__container {
    /* grid-template-columns: 1fr; */
    gap: 1rem;
  }

  .skills__content {
    grid-template-columns: 1fr;
  }
}
