header {
  height: 90vh;
  margin: 5vh 0 0 5vh;
}

.header__container {
  height: 100%;
  text-align: center;
  display: grid;
  gap: 2%;
  grid-template-columns: 1fr 1fr;
}

.header__container-left,
.header__container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* CTA */

.cta {
  margin-top: 2.5rem;
  display: flex;
  gap: 1.2rem;
  justify-content: center;
}

/* Socials */

.header__socials {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  position: absolute;
  left: 0;
  bottom: 3rem;
}

.header__socials::after {
  border-radius: 2rem;
  overflow: hidden;
  background-color: var(--color-primary);
}

/* Me */

.me-image {
  background: linear-gradient(var(--color-primary), transparent);
  border-radius: 4rem;
  place-items: center;
  overflow: hidden;
}

/* Scroll down */

.scroll__down {
  position: absolute;
  right: -2.3rem;
  bottom: 5rem;
  transform: rotate(90deg);
  font-weight: 300;
  font-size: 0.9em;
}

/* Media Queries (large devices) */

/* Media Queries (medium devices) */

@media screen and (max-width: 1024px) {

  .header__container {
    grid-template-columns: 1fr;
  }

}

/* Media Queries (small devices) */

@media screen and (max-width: 600px) {

  header {
    height: 90vh;
    margin: 0;
  }

  .header__container {
    gap: 1%;
  }

  .me-image {
    border-radius: 1.8rem;
  }

  .header__socials,
  .scroll__down {
    display: none;
  } 
}
