header {
  height: 90vh;
  margin-top: 5vh;
}

.header__container {
  height: 100%;
  text-align: center;
  display: grid;
  gap: 1%;
  grid-template-columns: 1.2fr 1fr;
}

.header__container-left,
.header__container-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 90vh;
}

.header__socials {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 200%;
  margin-top: 2rem;
}

/* Me */

.me-image {
  background: linear-gradient(var(--color-primary), transparent);
  /* background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab); */
  -webkit-animation-name: gradient; /* Safari and Chrome */
  -moz-animation-name: gradient; /* Firefox */
  -o-animation-name: gradient; /* Opera */
  -ms-animation-name: gradient; /* IE */
  animation-name: gradient;
  -webkit-animation-duration: 15s;
  -moz-animation-duration: 15s;
  -o-animation-duration: 15s;
  -ms-animation-duration: 15s;
  animation-duration: 15s;
  -webkit-animation-timing-function: ease;
  -moz-animation-timing-function: ease;
  -o-animation-timing-function: ease;
  -ms-animation-timing-function: ease;
  animation-timing-function: ease;
  -webkit-animation-delay: 0s;
  -moz-animation-delay: 0s;
  -o-animation-delay: 0s;
  -ms-animation-delay: 0s;
  animation-delay: 0s;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -o-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  border-radius: 4rem;
  place-items: center;
  overflow: hidden;
}

@keyframes gradient {
  0% {
    -webkit-background-position: 0% 50%;
    -moz-background-position: 0% 50%;
    -o-background-position: 0% 50%;
    -ms-background-position: 0% 50%;
    background-position: 0% 50%;
  }
  50% {
    -webkit-background-position: 100% 50%;
    -moz-background-position: 100% 50%;
    -o-background-position: 100% 50%;
    -ms-background-position: 100% 50%;
    background-position: 100% 50%;
  }
  100% {
    -webkit-background-position: 0% 50%;
    -moz-background-position: 0% 50%;
    -o-background-position: 0% 50%;
    -ms-background-position: 0% 50%;
    background-position: 0% 50%;
  }
}

/* Media Queries (extra-large devices) */

@media screen and (min-width: 1824px) {
}

/* Media Queries (large devices) */

@media screen and (max-width: 1824px) {
}

/* Media Queries (medium devices) */

@media screen and (max-width: 1024px) {
  header {
    height: 100%;
    margin-top: 2vh;
  }

  .header__container {
    grid-template-columns: 1fr;
    gap: 0%;
  }

  .header__container-left,
  .header__container-right {
    height: 100%;
  }

  .header__socials {
    font-size: 200%;
    margin: 1rem;
  }
}

/* Media Queries (small devices) */

@media screen and (max-width: 600px) {
  .me-image {
    border-radius: 1.8rem;
  }
}
