@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap'); 

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
    /* --color-bg:  #1f1f38; 
    --color-bg-variant: #2c2c6c;
    --color-primary: #4db5ff;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6); */
    /* --color-bg: #4A707A;
    --color-bg-variant: #7697A0;
    --color-primary: #94B0B7;
    --color-primary-variant: black;
    --color-white: #fff;
    --color-light: #DDDDDA; */
    /* --color-bg: #4A707A; 
     --color-bg-variant: #7697A0;
    --color-primary: #bfd3d8;
    --color-primary-variant: #fdc0aa;
    --color-white: #fff;
    --color-light: #DDDDDA; */
    --color-bg:  #1f1f38; 
    --color-bg-variant: rgb(46, 63, 109);
    --color-primary: rgb(86, 146, 164);
    --color-primary-variant: rgb(119, 209, 236);
    --color-white: #fff;
    --color-light: rgba(255, 255, 255, 0.6);
   

    --transition: all 400ms ease;
    --container-width-xlg: 75%;
    --container-width-lg: 80%;
    --container-width-md: 86%;
    --container-width-sm: 90%;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background: var(--color-bg);
    color: var(--color-white);
    line-height: 1.7;
    background-image: url(../src/assets/bg-texture.png);  
}

/* GENERAL STYLES */

.container {
    /* width: var(--container-width-lg); */
    margin: 0 auto;
}

h1, h2, h3, h4, h5 {
    font-weight: 500;
}

section {
    padding-top: 4vh;
}

section > h2, section > h4 {
    text-align: center;
    color: var(--color-light);
}

section > h2 {
    color: var(--color-primary-variant);
    margin-bottom: 3rem;
}

.text-light {
    color: var(--color-light);
}

a {
    color: var(--color-primary);
    transition: var(--transition);
    text-decoration: none;
}

a:hover {
    color: var(--color-white);
}

.btn {
    width: max-content;
    display: inline-block;
    color: var(--color-primary);
    padding: 0.75rem 1.2rem;
    border-radius: 0.4rem;
    cursor:pointer;
    border: 1px solid var(--color-primary);
    transition: var(--transition);
}

.btn:hover {
    background: var(--color-white);
    color: var(--color-bg);
    border-color: transparent;
}

.btn-primary {
    background: var(--color-primary);
    color: var(--color-bg)
}

img {
    display: block;
    width: 100%;
    object-fit: cover;
}

/* Media Queries (extra-large devices) */

@media screen and (min-width: 1824px) {
    .container {
        width: var(--container-width-xlg);
        /* background-color: gray; */
    }

    h1 {
        font-size: 400%;
    }
    
    h2 {
        font-size: 300%;
    }
    
    h3 {
        font-size: 200%;
    }
    
    h4 {
        font-size: 150%;
    }
    
    h5 {
        font-size: 100%;
    }
} 

/* Media Queries (large devices) */

@media screen and (max-width: 1824px) {
    .container {
        width: var(--container-width-lg);
        /* background-color: blue; */
    }

    h1 {
        font-size: 300%;
    }
    
    h2 {
        font-size: 250%;
    }
    
    h3 {
        font-size: 180%;
    }
    
    h4 {
        font-size: 120%;
    }
    
    h5 {
        font-size: 100%;
    }

} 

/* Media Queries (medium devices) */

@media screen and (max-width: 1024px) {
    .container {
        width: var(--container-width-md);
        /* background-color: yellowgreen; */
    }

} 

/* Media Queries (small devices) */

@media screen and (max-width: 600px) {
    .container {
        width: var(--container-width-sm);
        /* background-color: pink; */
    }

    section > h2 {
        padding-bottom: 2rem;
    }
}
